	body {
font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
background: linear-gradient(to right,
#63A69F 10%,
#e3efef 10%, #e3efef 90%,
#63A69F 10%);

} 

	p {
font-size: 20px;
color: #450B0B;
text-indent: 60px;
margin-bottom: 18px;
line-height: 28px; 
}

#margtop0 {
margin-top: 0px;
}

#margtop1 {
margin-bottom: -4px;
}

#margtop2 {
margin-top: 12px;
margin-bottom: -4px;
}

#margtop3 {
margin-bottom: -4px;
}

#margtop4 {
margin-top: 18px;
}

#margtop5 {
margin-top: 18px;
}

#margtop6 {
margin-top: 18px;
}

#margtop7 {
margin-top: 18px;
}

	li {
font-size: 20px;
margin-bottom: 18px;		
}

	.list {
color: #450B0B;
margin-bottom: 18px;
}

	h1 {
font-size: 34px;
color: #450B0B;
font-style: italic;
letter-spacing: 10px;
margin-top: 5px;
margin-left: 11%;
text-indent: 9px;
}

	h2 {
font-size: 29px;
color: #450B0B;
font-style: italic;
letter-spacing: 4px;
margin-top: 0px;
margin-bottom: 30px;
text-indent: 50%;
}

	hr {
width: 360px;
border: none;
color: #450B0B; 
height: 4px;
margin-left: 11%;
background-color: #686868;
}

	a {
text-decoration: none;
color: #3a4d84;
} 

	a:hover {
color: #847f7f;
} 

	* {
margin: 0;
}

	.itall {
font-size: 20.5px;
letter-spacing: 1px;
}

	.head {
display: inline-block;
width: 100%;
height: 41px;
margin-bottom: 20px;
text-align: left;
background: linear-gradient(to right, #63A69F,#63A69F, #00a8a8, #63A69F, #63A69F);
}

	.heads {
display: inline-block;
width: 100%;
height: 41px;
margin-bottom: 3px;
text-align: left;
background: linear-gradient(to right, #63A69F 20%, #00a8a8 30%, #63A69F 50%);
}

	.headh {
display: inline-block;
width: 100%;
height: 41px;
margin-bottom: 3px;
text-align: left;
background: linear-gradient(to right, #63A69F,#63A69F,#63A69F, #00a8a8, #63A69F, #63A69F);
}

	.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 17px;
display: inline-block;
text-align: right;
padding-bottom: 2px;
background: linear-gradient(to right, #63A69F, #63A69F, #00a8a8, #63A69F, #63A69F, #00a8a8, #63A69F, #63A69F);
}

/*
  ========================================
  main 3 parts
  ========================================
*/

	.container{

width:100%
}

	.box div{
display:inline-block;
margin: 0px;	

}

	.leftbox {
width: 11%;
margin: 0;
}

	.centerbox {
width: 77%;
margin: 0;
padding-top: 2%;

}

	.rightbox {
width: 9.7%;
margin: 0;
padding-left: 1.5%;
position: fixed;
}

/*
  ========================================
  making icon bigger
  ========================================
*/

	.image {
width: 67%;
height: 67%;
padding-left: 21%;
}

 	.image img {
 -moz-transition: all 0.2s ease-out;
 -o-transition: all 0.2s ease-out;
 -webkit-transition: all 0.2s ease-out;
}
 
	.image img:hover{
 -webkit-transform: scale(1.13);
 -moz-transform: scale(1.13);
 -o-transform: scale(1.13);
}

 /*
  ========================================
  my photo
  ========================================
*/

	.myphoto {
border: double 5px #ccc;
width: 32%;
height: 32%;
float: right;
margin-right: 35px;
margin-left: 45px;
margin-top: 5px;
margin-bottom: 10px;
-moz-border-radius: 60px; 
-webkit-border-radius: 60px;  
border-radius: 60px; 
}

 /*
  ========================================
  other photo
  ========================================
*/

	.rightphoto {
width: 20%;
height: 20%;
float: right;
-moz-border-radius: 20px; 
-webkit-border-radius: 20px;  
border-radius: 20px; 
margin-left: 2%; 
margin-bottom: 1%;
}

	.leftphoto {
width: 20%;
height: 20%;
float: left;
-moz-border-radius: 20px; 
-webkit-border-radius: 20px;  
border-radius: 20px; 
margin-right: 2%;
margin-bottom: 1%; 
}

	.leftphotomix {
width: 40%;
float: left;
-moz-border-radius: 25px; 
-webkit-border-radius: 25px;  
border-radius: 25px; 
margin-right: 2%; 
margin-bottom: 1%;
}

	.music {   
width: 40%;
float: left;
-moz-border-radius: 20px; 
-webkit-border-radius: 20px;  
border-radius: 20px; 
margin-right: 2%; 
}

	.flphoto {
width: 40%;
float: right;
-moz-border-radius: 20px; 
-webkit-border-radius: 20px;  
border-radius: 20px; 
margin-left: 2%; 
}

	.programming {   
width: 40%; 
height: 40%;
float: left;
-moz-border-radius: 20px; 
-webkit-border-radius: 20px;  
border-radius: 20px; 
margin-right: 2%;
margin-bottom: 3%;
}

	.game {   
width: 84%;
-moz-border-radius: 30px; 
-webkit-border-radius: 30px;  
border-radius: 30px; 
margin-top: 2%;
margin-bottom: 0%;
}

	.gamec {
text-align: center;
text-indent: 0px;
margin-top: -18px;
margin-bottom: -10px;
}

	.skill {
float: left;
width: 20%;
}

 /*
  ========================================
  links
  ========================================
*/

	.linktexts {
margin-bottom: 90%;
}
	.linktexts2 {
margin-bottom: 104%;
}

	.linktext {
text-indent:0;
text-align: center;
margin-bottom: 80%;
padding-left: 3%;
line-height: 20px; 
}

	.linktext1 {
text-indent:0;
text-align: center;
margin-bottom: 97%;
padding-left: 5%;
line-height: 20px; 
}

 /*
  ========================================
  mob nav
  ========================================
*/

	.containerm{
width:100%;
display: none;
}

	.bla {
width: 0px;
}
	.bla2 {
display: block;
width: 0px;
}

	.bla3 {
display: block;
width: 0px;
}
	.bla4 {
display: inline-block;
width: 0%;
}


	.leftboxmob {
padding-left: 16%;
padding-right: 10%;
padding-top: 2%;
width: 15%;
height: 20%;
}

.leftboxmob:hover{
background: #ccc;
}

	.centerboxmob {
padding-left: 15%;
padding-right: 10%;
padding-top: 2%;
width: 15%;
height: 20%;
}

.centerboxmob:hover{
background: #ccc;
}

	.rightboxmob {
height: 0%;
padding-top: 2%;
width: 0%;
margin: 0;
}

#mobnavig1 {
text-indent: 0px;
text-align: center;	
font-size: 30px;
line-height: 30px; 
margin-bottom: -10px;
display: none;
}

#mobnavig1s {
margin-left: -20px;
text-indent: 0px;
text-align: center;	
font-size: 30px;
line-height: 30px; 
margin-bottom: -10px;
display: none;

}

#mobnavig2 {
text-indent: 0px;
text-align: center;	
font-size: 30px;
line-height: 30px; 
margin-bottom: -10px;
display: none;
}

	.novis {
display: none;
width: 100%;
height: 100%;
}


#tothetop {
text-align: center;
padding-top: 1%;
width: 150px;
height: 30px;
border: 4px solid #ccc;	
font-size: 20px; 
margin-left: 75%;
margin-top: 2px;
margin-bottom: 40px;
}

#tothetop:hover {
background: #ccc;
}

#tothetop2 {
text-align: center;
padding-top: 1%;
width: 150px;
height: 30px;
border: 4px solid #ccc;	
font-size: 20px; 
margin-left: 75%;
margin-top: 5px;
margin-bottom: 40px;
}

#tothetop2:hover {
background: #ccc;
}

#tothetoph {
text-align: center;
padding-top: 1%;
width: 150px;
height: 30px;
border: 4px solid #ccc;	
font-size: 20px; 	
margin-left: 75%;
margin-top: 17px;
margin-bottom: 37px;
}

#tothetoph:hover {
background: #ccc;
}

/*
  ========================================
  bars
  ========================================
*/

button {
color: #450B0B;
font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20px;
margin-left: 8.5%;
margin-bottom: 1%;
margin-top: -5px;
width: 300px;
height: 40px;
background-color: white;
border: 5px solid #ccc;
text-align: center;
text-decoration: none;
background-color: #e3efef;
cursor: pointer;
}

button:hover {
background: #ccc;
}

.bars {display: block; width: 100%;}
.mar {display: inline-block; width: 46%; padding-top: 1%; padding-left: 3%;}
.mar2 {display: inline-block; width: 46%; padding-top: 1%; padding-left: 3%;}
.mar3 {display: inline-block; width: 46%; padding-top: 1%; padding-left: 3%;padding-bottom: 2.5%;}
.bborder{border:2px solid #ccc; background: #d0d3d8; display: block; width: 90%;font-size: 20px;
color: #450B0B;}
.round {border-radius: 30px;}
.bar1 {color:#000;background-color:#b5b5bc; width: 80%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar2 {color:#000;background-color:#b5b5bc; width: 80%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar3 {color:#000;background-color:#b5b5bc; width: 40%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar4 {color:#000;background-color:#b5b5bc; width: 60%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar5 {color:#000;background-color:#b5b5bc; width: 15%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar6 {color:#000;background-color:#b5b5bc; width: 80%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar7 {color:#000;background-color:#b5b5bc; width: 30%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar8 {color:#000;background-color:#b5b5bc; width: 25%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar9 {color:#000;background-color:#b5b5bc; width: 35%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar10 {color:#000;background-color:#b5b5bc; width: 50%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar11 {color:#000;background-color:#b5b5bc; width: 35%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar12 {color:#000;background-color:#b5b5bc; width: 60%; font-size: 20px; color: #000000;
text-indent: 13px; line-height: 25px;}
.bar13 {color:#000;background-color:#b5b5bc; width: 68%; font-size: 20px; color: #000000;
text-indent: 11px; line-height: 25px;}
.bar14 {color:#000;background-color:#b5b5bc; width: 95%; font-size: 20px; color: #000000;
text-indent: 11px; line-height: 25px;}
.bar15 {color:#000;background-color:#b5b5bc; width: 19%; font-size: 20px; color: #000000;
text-indent: 11px; line-height: 25px;}
.bar16 {color:#000;background-color:#b5b5bc; width: 95%; font-size: 20px; color: #000000;
text-indent: 11px; line-height: 25px;}

 /*
  ========================================
  paragraph
  ========================================
*/

	.part {
padding-bottom: 0.8%;
}

	.inprog0 {
opacity: 0.08;
background: C1C1C1;
padding-bottom: 0.8%;
}
	.inprog50 {
opacity: 0.35;
background: C1C1C1;
padding-bottom: 0.8%;
}

	.inprog60 {
opacity: 0.6;
background: C1C1C1;
padding-bottom: 0.8%;
}

	.inprog80 {
opacity: 0.6;
background: C1C1C1;
font-size: 24px;
color: #450B0B;
font-style: italic;
letter-spacing: 3px;
padding-left: 120px;
padding-bottom: 2%;
}

	.cr {
text-align: center;
}

	.txxt1 {
margin-bottom: 1%;
}

#txxt1c {
margin-bottom: 6%;
}

#txxt1j {
margin-bottom: 4%;
}

	.txxt2 {
padding-left: 44%;
padding-right: 4%;
}

	.txxtl {
padding-right: 30%;
padding-left: 6%;
}

	.txxtr {
padding-left: 30%;
padding-right: 6%;
}

	.txxtss {
padding-left: 2.5%;
padding-right: 2.5%;
}

#txxt11 {
margin-bottom: 6%;
}

	.txxtrig {
padding-left: 45%;
padding-right: 6%;
}

	.txxtlef {
padding-right: 45%;
padding-left: 6%;
}

#txxt12 {
margin-bottom: 8%;
}

#txxt13 {
margin-bottom: 6.5%;
}

 /*
  ========================================
  mobile
  ========================================
*/

//@media screen and (max-height: 600px) {}


@media screen and (max-width: 1000px) {

	body {
background: linear-gradient(to right,
#e3efef 10%,
#e3efef 10%, #e3efef 96%,
#63A69F 4%);
} 

	.bla {
width: 2px;
}

	.bla2 {
height: 10px;
}

	.bla3 {
height: 10px;
}

	.bla4 {
width: 5%;
}

	.containerm{
display:block;
}

	.leftboxmob {
border: 10px solid #ccc;
}

	.centerboxmob {
border: 10px solid #ccc;
}


.leftbox {
width: 0%;
}

	.centerbox {
width: 95%;
}

	.rightbox {
visibility: hidden;
}

	.linktexts {
margin-bottom: 40%;
}

	.linktext1 {
margin-bottom: 60%;
}

#tothetop {
font-size: 32px;
}

#tothetop2 {
font-size: 32px;
}

#tothetoph {
font-size: 32px;
}

	h2 {
text-indent: 37%;
}

	.txxt1 {
margin-bottom: 2px;
}

#txxt11 {
margin-bottom: 3%;
}

#txxt12 {
margin-bottom: 4%;
}

#txxt13 {
margin-bottom: 3%;
}

	.txxtrig {
padding-left: 4%;
padding-right: 2%;
}

	.txxtlef {
padding-right: 2%;
padding-left: 4%;
}

	.txxt2 {
padding-left: 4%;
padding-right: 2%;
}

	.txxtl {
padding-right: 4%;
padding-left: 2%;
}

	.txxtr {
padding-left: 4%;
padding-right: 2%;
}

#txxt1c {
margin-bottom: 3%;
}

#mobnavig1 {
display: inline-block;
}

#mobnavig1s {
display: inline-block;
}

#mobnavig2 {
display: inline-block;
margin-left: -6px;
}

	.novis {
display: inline-block;
margin-left: -17%;
}

button {
font-size: 25px;
width: 350px;
height: 50px;
margin-left: 5%;
border-width: 3px;
}
}